.swiper-button-next {
  color: black;
  width: 10px;
}


.custom-next {
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 50px;
  height: 50px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.custom-prev {
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 50px;
  height: 50px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.swiper-slide {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

@media (min-width: 768px) {
  .swiper {
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .swiper {
    overflow: visible;
    height: 210px;
    width: 100%;
    margin-left: 0;
    /* margin-right: auto; */
  }
  .swiper-cards .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }
}